<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
    title= nombrePagina
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    link(rel="stylesheet", href="/css/gantt.css")
    style.
      html, body {
      padding: 0px;
      margin: 0px;
      height: 100%;
      }
      .gantt_grid_scale .gantt_grid_head_cell,
      .gantt_task .gantt_task_scale .gantt_scale_cell {
      font-weight: bold;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      }

  //- TODO: Revisar el listado por Role.
  body.body-pd
    header.barra
      //- h1 UpTask - Administrador de Proyectos - #{usuario.nombre}
      a.logo(href="/") UpTask - Administrador de Proyectos - #{usuarioDB.nombre}
      nav#navegador.navegador
        ul
          li
            a(href="/diagrama-gantt") Avance de Proyectos
          if(usuario.role === 3)
            li#listaTarea.listaTarea
              a(href='#') Tareas Asignadas
              #sublistaTarea.sublistaTarea
                #opcion.opcion
                  a(href="#") Tareas de Ing.
                #opcion.opcion
                  a(href="/lista-tareas") Lista Total
          else
            li
              a(href="/lista-tareas") Lista Total
          li
            a(href="/cerrar-sesion") Cerrar Sesión

    #gantt_here.gantt_main
    script(src='dhtmlxgantt.js')
    script(src="/dist/bundle.js")
    script(type='text/javascript')