extends layout
include mixins/crearProyecto

block contenido
  .contenido-principal
    h1 #{nombrePagina} <!-- Llama a la variable declarada en proyectosController COMO nombrePagina -->

    if errores
      each error in errores
        .alerta.error= error.texto
    +crearProyecto(proyecto)
