
/* 
  Header
*/

#navegador ul li {
  color: var(--white-color);
  padding: 10px;
  text-decoration: none;
  float: left;
  position: relative;
  text-align: center;
  display: block;
  min-width: 100px;
}

.sublistaTarea {
  position: absolute;
  background-color: var(--first-color);
  font: normal 0.8em var(--body-font);
  width: 100%;
  display: none;
  font-size: 14px;
  text-align:center;
  margin-left: -10px;
}

#navegador #listaTarea .sublistaTarea #opcion {
  margin-bottom: 15px;
  margin-top: 15px;
}
